<%= form_with(model: sanpham, local: true) do |form| %>
  <% if sanpham.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sanpham.errors.count, "error") %> prohibited this sanpham from being saved:</h2>

      <ul>
      <% sanpham.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tieude %>
    <%= form.text_field :tieude %>
  </div>

  <div class="field">
    <%= form.label :noidung %>
    <%= form.text_area :noidung, :rows => 6 %>
  </div>

  <div class="field">
    <%= form.label :anh %>
    <%= form.text_field :anh %>
  </div>

  <div class="field">
    <%= form.label :gia %>
    <%= form.text_field :gia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
